build/
build/*
rps-plugins.db
build/.ninja_log
build/CMakeFiles/CMakeConfigureLog.yaml

# Build artifacts in examples
examples/**/rps-server
examples/**/rps-server.exe
examples/**/rps-pluginscanner
examples/**/rps-pluginscanner.exe

vst3_full_scan.log

patch.json
rps-plugins.db-journal
esp_jit.log

libs/rps-core/include/rps/core/vstsdk2.4
MIOConsole3d.log
rps-plugins.db-shm
rps-plugins.db-wal
# Python example client artifacts
__pycache__/11
*.egg-info/
examples/python/.venv/
examples/python/rps_client/proto/rps_pb2*.py
examples/python/rps-server.log
rps-server.log

# Private overlays
#_private/
GEMINI.md

# Java artifacts
examples/java/src/main/proto/rps.proto
examples/java/target/
examples/java/rps-server-java.log
examples/python/kiloHearts.log
kiloHearts.log

.vscode

plans/
build_ninja_msvc/vcpkg-manifest-install.log
build_ninja_msvc/CMakeCache.txt
build_ninja_msvc/CMakeFiles/cmake.check_cache

_private
examples/python/rps-pluginhost-clap.exe
examples/python/rps-pluginhost-clap.log
examples/python/rps-pluginhost-vst3.log
examples/python/rps-pluginhost-vst3.exe
examples/python/rps_client/proto/__pycache__
examples/python/rps_client/proto/__pycache__/*
examples/python/rps_client/__pycache__
examples/python/rps_client/__pycache__/*
examples/python/foo.vstpreset
examples/python/*.wav
examples/python/*.state
examples/python/rps-pluginhost.exe
examples/python/test.state
libs/rps-gui/src/GuiWorkerMain.cpp
examples/python/rps-pluginhost.log
examples/python/logs
examples/python/logs/*
